main#page-content[name=Admin_Home] {

    textarea[name=settings] {
        color: initial;
        font-family: $font-family-monospace;
        font-size: 12px;
        line-height: 18px;
        outline: none;
        padding: 10px;
        tab-size: 4;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
    }

}
