main#page-content[name=Admin_Home] {

    #settings {
        textarea {
            &::placeholder {
                color: #888;
                font-family: $font-family-sans-serif;
                font-size: 16px;
            }

            color: initial;
            font-family: "SFMono-Regular", "Courier New", monospace;
            font-size: 16px;
            line-height: 18px;
            outline: none;
            padding: 10px;
            tab-size: 4;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;



            //-webkit-appearance: none;
            //
            //&:focus {
            //    outline-color: transparent;
            //    outline-style: none;
            //}
        }
    }
}